* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ubuntu", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --red: #ff0000;
  --gray: #666;
}

body {
  background-color: var(--black);
}

.container .content {
  background: url(../img/main_landing.png) no-repeat center center/cover;
  font-family: ubuntu, sans-serif;
  height: 100vh;
}

.nav {
  width: 100%;
}

ul {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--red);
}

.nav a #highlight {
  color: var(--red);
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 5rem;
  margin: 0px;
  color: var(--white);
  text-shadow: var(--gray) 1px 1px;
}

h2 {
  color: var(--white);
  text-shadow: var(--black) 1px 1px;
  text-align: right;
  margin-right: 2rem;
  font-size: 1rem;
}

.text-light {
  color: var(--red);
  font-style: italic;
}

.sig {
  color: var(--white);
  text-align: center;
  margin-top: 26rem;
}

h2 {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
}

.history .p1 {
  color: var(--white);
  text-indent: 6%;
  margin-left: 10px;
  margin-right: 10px;
}

.history .p2 {
  color: var(--white);
  text-indent: 6%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.back-to-top {
  /*background-color: var(--gray);*/
  color: var(--red);
  padding-left: 20px;
}

footer p {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 15px;
  color: var(--white);
}
