* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --red: #ff0000;
    --gray: #4e4e4e;
}

html::-webkit-scrollbar {
    display: none;
}

.nav {
    grid-column: 3/4;
    padding-right: 20px;
    text-align: right;
    padding-top: 20px;
}

ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
}

a {
    padding-top: 10px;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--red);
}

.nav a #highlight {
    color: var(--red);
}

body {
    background-color: var(--gray);
}

.container {
    background: url(../img/wildlife/s7s_wildlife-29.jpg) no-repeat center bottom/cover;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--white);
    text-align: left;
    text-shadow: var(--black) 2px 2px;
    padding-bottom: 600px;
    padding-left: 100px;
    font-size: 6.5rem;
    font-weight: 100;
}

p {
    text-shadow: var(--black) 1px 1px;
    font-size: 1vw;
    color: var(--white);
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    padding-left: 10px;
    padding-right: 150px;
    padding-top: 525px;
    padding-bottom: 50px;
}

#banner h1 {
    background-color: var(--gray);
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 5rem;
    color: var(--white);
    text-shadow: var(--black) 2px 2px;
}


/* Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 27vw);
    gap: 20px;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--gray);
    padding-bottom: 1 0px 20px;
    align-items: center;
}

.philosophy h2 {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}

.philosophy h3 {
    color: var(--white);
    text-align: right;
    font-size: 1rem;
}

.philosophy p {
    color: var(--white);
    text-align: center;
    text-shadow: none;
    padding-top: 50px;
}

.gallery #img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img7 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img8 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img10 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img11 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img12 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img13 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img14 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img15 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img16 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img17 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img18 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img19 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img20 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img21 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img22 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img23 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img24 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img25 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img26 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery #img27 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.gallery p {
    grid-row: auto;
    grid-column: auto;
    border-radius: 5px;
    text-align: left;
    background-color: var(--gray);
}

.back-to-top {
    color: var(--red);
    padding-left: 10px;
}

footer {
    background-color: var(--gray);
}

footer p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 25px;
    padding-bottom: 12px;
}